<% layout('layouts/boilerplate') %>
   <div class="row">
    <h1 class="text-center">Edit Hotel</h1>
    <div class="col-6 offset-3">
         <form action="/hotels/<%=hotel._id%>?_method=PUT" method="POST" novalidate class="validated-form">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input  class="form-control"  for="text" id="title" name="hotel[title]" value="<%=hotel.title %>" required></input>
        <div class="valid-feedback">
            correctly completed
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label"  for="location">Location</label>
        <input  class="form-control"  for="text" id="location" name="hotel[location]" value="<%=hotel.location %>" required></input>
        <div class="valid-feedback">
            correctly completed
        </div>
      </div>
       <div class="mb-3">
        <label class="form-label"  for="image">Image Url</label>
        <input  class="form-control"  for="text" id="image" name="hotel[image]" value="<%=hotel.image %>" required></input>
        <div class="valid-feedback">
            correctly completed
        </div>
      </div>
      <div class="mb-3">
        
      <label class="form-label" for="price" >Hotel Price</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="price-label" >$</span>
        </div>
        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" value="<%=hotel.price %>" required>
        <div class="valid-feedback">
            correctly completed
        </div>
      </div>
      </div>
        <div class="mb-3">
        <label class="form-label"  for="description">Desription</label>
        <textarea  class="form-control"  for="text" id="description" name="hotel[description]" required><%=hotel.description %></textarea>
        <div class="valid-feedback">
            correctly completed
        </div>
      </div>
      <div class="mb-3"><button class="btn btn-info">Update Hotel</button></div>
    </form>
   
    <a href="/hotels/<%= hotel._id%>">Back To Hotel</a>
    </div>
   </div>

