<% layout('layouts/boilerplate') %>
<h1>All Hotels</h1>
<div>
  <a href="/hotels/new">Add Hotel</a>
</div>
<% for (let Hotel of hotels) { %>
<div class="card" mb-3>
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid" alt="" src="<%=Hotel.image%>" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= Hotel.title %></h5>
        <p class="card-text"><%= Hotel.location %></p>
        <p class="card-text">
          <small class="text-muted"><%=Hotel.description%></small>
        </p>
        <a class="btn btn-primary" href="/hotels/<%=Hotel._id%>"
          >View <%=Hotel.title%></a
        >
      </div>
      <p class="card-text">
        <small class="text-muted"><%=Hotel.price%></small>
      </p>
    </div>
  </div>
</div>
<%}%>
